.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
__pycache__/
.idea/
docs/_build/
.vscode
*.json
openai.txt

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Data folders
app/resources/data/*
app/resources/model/*
app/temp/train/*
app/temp/val/*
app/temp/test/*