* {
  padding: 0;
  margin: 0;
}

/* Variables */
:root {
  /* Color Palette */
  --color-primary: rgb(69, 123, 157);
  --color-secondary: rgb(230, 57, 70);
  --color-dark: rgb(29, 53, 87);
  --color-neutral: rgb(168, 218, 220);
  --color-light: rgb(241, 250, 238);
  --color-white: rgb(255, 255, 255);
  --color-ceramic: rgb(242, 242, 242);
  --color-black: rgb(0, 0, 0);
  /* Text */
  --text-light: rgb(230, 230, 230);
  --text-black: rgb(20, 20, 20);
  --text-gray: rgb(80, 80, 80);
  --text-light-gray: rgb(180, 180, 180);
  /* Status */
  --status-success: rgb(112, 224, 0);
  --status-error: rgb(229, 56, 59);
  --status-warning: rgb(255, 204, 0);
  --status-info: rgb(0, 122, 255);
}

/* Global */
html {
  font-size: 14px;
}